<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DDictionary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Default" connectionString="Data Source={0};Version=3;foreign keys=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DDictionary.Properties.Settings>
      <setting name="ShowInfoPopup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoplaySound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveContext" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScreenName" serializeAs="String">
        <value />
      </setting>
      <setting name="Columns" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterRelatedFrom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterText" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterGroups" serializeAs="String">
        <value />
      </setting>
      <setting name="Sorting" serializeAs="String">
        <value />
      </setting>
      <setting name="DataSource" serializeAs="String">
        <value>.\DictionaryDB.db</value>
      </setting>
      <setting name="RecentSources" serializeAs="String">
        <value />
      </setting>
      <setting name="SprintSecondsOnAnswer" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TranslationWordHideAnswers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WordTranslationHideAnswers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConstructorHideLetters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ListeningAllowOneMistake" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DialogsScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MainWindowScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PopupScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FilterAfterDate" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterBeforeDate" serializeAs="String">
        <value />
      </setting>
    </DDictionary.Properties.Settings>
  </userSettings>
</configuration>